body{
    margin: 0px;
    font-family: sans-serif;
}

h1{

    font-size: 50px;
}
.saad{
    color: blue;
}
.sahil{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.sahil img{
    width: 100%;
}
.pad{
    background-image: url("imeges/top-banner.png");
}
section{
    height: 500px;
    background-repeat: no-repeat;
}
.hada{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient( 45deg,red, orange, yellow);
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.pada{
    background-image: url("imeges/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
}
